<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
    <!--<div id="lista" ng-app="CalidadAireApp" ng-controller="controlador"> {{firstName}}</div>-->


    <!--<div id="map"></div>-->
    <div id="lista">{{3+3}}</div>
    <!--First Name: <input type="text" ng-model="firstName"><br>-->
    <!--Last Name: <input type="text" ng-model="lastName"><br>-->
    <!--<br>-->
    <!--Full Name: {{firstName + " " + lastName}}-->

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope) {
        $scope.firstName = "John";
        $scope.lastName = "Doe";
    });
</script>


</body>
</html>